---
layout: page
title: 生物多樣性主流化研討會
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">2019<br>臺灣生物多樣性主流化研討會</h1>
          <p class="animated fadeInUp"> 他山之石─日本政府與企業推動愛知目標的策略與行動</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>聯合國2030年永續發展目標</h2>
            <p>維護生物多樣性與氣侯變遷議題，是人類永續的基礎。<br>生物多樣性主流化是解決生物多樣性喪失的根本!</p>
          </div>
          <p>「愛知生物多樣性目標」中的前4目標，更明白指出主流化主要的行動方向：</p>
            <li>人人都知道生物多樣性的價值並知道能夠採取哪些行動保育和永續生物多樣性</li>
            <li>生物多樣性價值納入國家和地方發展策略與規劃制度，考量納入國家預算體系和報告系統</li>
            <li>降低危害生物多樣性的獎勵措施，制定和執行有助生物多樣性的積極鼓勵措施</li>
            <li>政府、商業和權益關係人需在安全的限度內執行對自然資源永續性生產與消費</li>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/slider-bg.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service" class="background">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>2019臺灣生物多樣性主流化研討會</h2>
        研討會將安排討論議程，分別就<br>商業部門</b>、<b>政府部門</>及<b>臺灣生物多樣性主流化夥伴關係2020年主要活動規劃</b>，進行深入討論與交流。</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>落實經濟或商業面向的生物多樣性保育</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>政府部門政策在生物多樣性的推動與施行</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-person"></i>
          <h4>夥伴關係橫向串聯之推動</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>專家經驗座談</h2>
        <p>邀請日本講者於日本整體及於電子產業推動主流化的經驗進行分享，<br>
          同時邀請臺灣講者介紹臺灣相關面向的推動情形。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
