---
layout: page
title: 生物多樣性主流化研討會
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-1 col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">2019<br>臺灣生物多樣性主流化研討會</h1>
          <p class="animated fadeInUp"> 他山之石─日本政府與企業推動愛知目標的策略與行動</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>聯合國2030年永續發展目標</h2>
            <p>維護生物多樣性與關注氣侯變遷議題是人類永續的基礎</p>
          </div>
            <p>生物多樣性主流化是解決多樣性喪失的根本</p>
              <li>宣傳生物多樣性的價值並採取行動保育</li>
              <li>生物多樣性價值納入國家政策體系</li>
              <li>制定且執行對生物多樣性的積極鼓勵措施</li>
              <li>安全有限度內對自然資源永續性利用</li>
          </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/slider-bg.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service" class="background">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>生物多樣性主流化研討會重點</h2>
        <p>著重於<b>商業部門</b>、<b>政府部門</b>及<b>臺灣生物多樣性主流化夥伴關係</b>，進行深入討論與交流。</p>
        <p>各組就以下三項主題進行討論，預計90分鐘內產出方案或結論。</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>經濟與商業的生物多樣性保育</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>生物多樣性的政策推行與規劃</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-person"></i>
          <h4>生物多樣性主流化夥伴關係</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>專家經驗座談</h2>
        <p>邀請日本講者於在產業面向推動生物多樣性主流化經驗分享, 特別是2010年第10次生物多樣性公約大會前後，日本整體及於電子產業推動主流化經驗，也邀請臺灣講者介紹臺灣相關面向的推動情形。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
