<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">關於我們</a></li>
            <li><a href="#">報名連結</a></li>
            <li><a href="{{ site.baseurl }}/blog"></a>議程訊息</li>
            <li><a href="{{ site.baseurl }}/contact">與我們聯繫</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
