<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li>
              <a href="https://sites.google.com/a/birds-tesri.twbbs.org/maps-taiwan/">
                <img src="img/logo_google.png" style="width:50px;height:50px">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/groups/104385319600876/">
                <img src="img/logo_facebook.png" style="width:50px;height:50px">
              </a>  
            </li>
            <li>
              <img src="img/logo_github.png" style="width:50px;height:50px">  
            </li>  
          </ul>
      <br>
          <div class= "col-md-12">
          <p>製作/呂亞融 劉冠廷</p>
           <p>協力/林瑞興 蘇美如</p>
            <p>行政院農業委員會特有生物研究保育中心 繫放團隊 版權所有</p>
          </div>
        </div>
        <br>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
