<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe73fVYJ38RZ5zcHuD-bLtcfBXt2eYOhy_iVo0gEyaJp9oupQ/viewform">報名連結</a></li>
            <li><a href="https://tesri.github.io/blog"></a>議程訊息</li>
            <li><a href="https://tesri.github.io/contact">與我們聯繫</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
